DB_URI=
USERNAME=
PASSWORD=
DEBUG=
MOTS_CLES_D='"need" AND "Demand Forecasting","looking for" AND "Inventory Optimization","hiring" AND "Retail Analytics","recherche" AND "Prévision des ventes","urgent" AND "Churn Prediction","hiring" AND "Data Scientist" AND "E-commerce"'
MOTS_CLES_N='"need" AND "FastAPI" AND "Machine Learning","hiring" AND "Time Series" AND "Prophet"'